@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 58%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.menu_list{ display: none;}
nav li:not(:last-child){  margin-right: 30px;}
h1,nav{ margin-top: 10px;}

header .wrapper{
  width: 93%;
  display: flex;
  justify-content: space-between;
}

nav li a{
  text-transform: capitalize;
  font-size: 10px;
  letter-spacing: 1px;
  /* padding: 3px 6px;
  border: 1px solid; */
}

.menu::after{
  content: '\f107';
  font-family: FontAwesome;
  padding: 2px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner section styling starts here
=================================*/
.banner_content li:last-child{  display: none;  }

.banner_content{
  display: flex;
  justify-content: space-between;
}
.banner_content span{
  font-size: small;
  letter-spacing: 2px;
}

h2{
  text-transform: capitalize;
  font-size: 42px;
  font-size: wei;
  font-weight: bolder;
  letter-spacing: 1px;
}
.red_button{
  text-transform: capitalize;
  font-size: 10px;
  letter-spacing: 1px;
  border-radius: 2px;
  padding: 6px 16px;
  background-color:rgba(255,0,0,0.6);
  color: #fff;
}
.right_shift{
  text-indent: -9999px;
  position: absolute;
  right: 60px;
}
.right_shift::before{
  content: '\f105';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
  font-size: 30px;
}
/*=================================
  banner section styling ends here
=================================*/
/*=================================
  about section styling starts here
=================================*/ 
.about li img{  margin-bottom: 10px;  }

.about{
  text-align: center;
  padding: 3.5% 0;
  background-color: #d0dcbd;
}

h3{
  font-size: 22px;
  font-weight: bolder;
}

.heading{
  font-size: 10px;
  letter-spacing: 1px;
  color: #7c7c7c;
}

.about ul{
  display: flex;
  justify-content: space-between;
}

.about li{
  background-color: #fff;
  width: 48%;
  box-sizing: border-box;
  padding: 3%;
  margin-top: 6%;
}

.about li span{
  font-weight: bolder;
  text-transform: capitalize;
  color:#f33838;
}

.about li p,.features p{
  font-size: 10px;
  color: #7c7c7c;
  margin-top: 10px;
  line-height: 16px;
}

.about li a{
  color: #6e5ee7;
  text-transform: capitalize;
  font-size: 9px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.about li a::before{
  content: '\f0a4';
  font-family: FontAwesome;
  padding-right: 10px;
}
 /*=================================
  about section styling ends here
=================================*/ 
/*=================================
  features section styling starts here
=================================*/ 
.features .wrapper{
  display: flex;
  padding-bottom: 2%;
}
.features_content{
  padding-top: 2%;
  margin-left: 17%;
  width: 56%;
  letter-spacing: 1px;
}
.features h3{
  text-transform: capitalize;
}

.features p{
  font-size: 10px;
  color: #7c7c7c;
  margin: 15px 0;
  line-height: 16px;
  width: 89%;
}

.features_links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features_links li{
  border: 1px solid #e2dede;
  padding: 23px 12px;
  text-align: center;
  width: 37%;
}

.features_links li a{
  font-size: 30px;
}

.features_links span{
  text-transform: capitalize;
  display: block;
  font-weight: bolder;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.massage,.hair_style,
.facial_style,.eyebrows{
  text-indent: -9999px;
}
.massage::before{
  content: '\f118';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
  color: #6e5ee7;
}
.hair_style::before{
  content: '\f182';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
  color: #6e5ee7;
}
.facial_style::before{
  content: '\f004';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
  color: #6e5ee7;
}
.eyebrows::before{
  content: '\f06e';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
  color: #6e5ee7;
}
 /*=================================
  features section styling ends here
=================================*/ 
/*=================================
  users section styling starts here
=================================*/ 







 /*=================================
  users section styling ends here
=================================*/ 





/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  